/*** Board Game ****/




.table {
  width: 32%;
}

#table-numbers td {
	border-top:none;
}

#table-numbers span {
	  display: inline-block;
	 margin-top: 15%;
}

#table-numbers{
	position: relative;
	margin-right: -32%;
	left : -32%
}



.table td {
  width: 10%;
  position: relative;
}
.table td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
.table td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.table td {
	text-align : center;

}

#table-letters td{
	border-top:none;
}



@media screen and (max-width: 767px) {

	#table-numbers {
		margin-right: -39%;
		left: -39%;
	}
}

@media screen and (max-width: 564px) {

	#table-numbers {
		margin-right: -43%;
		left: -43%;
	}
}



.dot {
height: 60%;
width: 60%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20%;
}

.red{
	background-color : #ff6969;
}

.yellow{
	background-color : #ffe097;
}

.bleu {
	background-color : #7fb6f0;
}

.green{
	background-color: #8be3a1;
}




/*** Game inputs ****/

#action{
	margin-left: 5px;
    text-align: center;
    width: 18%;

}

#play-area {
	
	background-color:#639e6f59;
	width : 70%;
}


/*** Chatbot ****/

#chatbox{
	
	max-height:115px;
	background-color:#acb6ed;
	width : 70%;
	overflow-y:auto;
	border-top-left-radius : 5px;
	border-top-right-radius : 5px;
}

@-moz-document url-prefix() {
    textarea {
        height: 2em;
    }
}

textarea {
	width : 70%;
	resize: none;
	
}

#chatbox label {
	display:block;
	padding-left: 5px;
}



/*** Scrollbar ****/


::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}